<%- include('partials/header'); -%>

    <form>
        <h2>Register</h2>
        <label for="email">Email</label>
        <input type="text" name="email" required>
        <div class="email error"></div>
        <label for="password">Password</label>
        <input type="password" name="password" required>
        <div class="password error"></div>
        <button>Register</button>
    </form>

    <script>
        const form = document.querySelector("form");
        const emailErr = document.querySelector(".email.error");
        const passwordErr = document.querySelector(".password.error");

        form.addEventListener("submit", async function(event){
            event.preventDefault();

            //reset errors
            emailErr.textContent = "";
            passwordErr.textContent = "";

            //get value of input
            const email = form.email.value;
            const password = form.password.value;

            try {
               const res = await fetch("/register", {
                   method: "POST",
                   body: JSON.stringify({ email: email, password: password }),
                   headers: { "Content-Type": "application/json" }
               }) 
               const data = await res.json();
               if (data.errors) {
                emailErr.textContent = data.errors.email;
                passwordErr.textContent = data.errors.password;
               }
               if (data.user) {
                   location.assign("/")
               }
                
            } catch (err) {
                console.log(err);
            }
        })
    </script>


<%- include('partials/footer'); -%>